@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

$primary: #00a796;
$primary-dark: #026158;
$dark: #1f2732;
$dark-light: #2a343f;
$white: #fff;
$red: #d45656;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  background-color: $dark;
  color: $white;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

button,
input,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

.main-header {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    a {
      color: $white;
      font-weight: 700px;
      font-size: 2rem;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.btn {
  display: inline-block;
  background-color: $primary;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.2s ease;
  text-decoration: none;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
    background-color: $primary-dark;
    cursor: pointer;
  }
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  &__box {
    max-width: 500px;
    width: 90%;
    padding: 50px;
    color: $white;
    background-color: $dark-light;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  &__header {
    margin-bottom: 20px;
    text-align: center;
  }

  &__field {
    margin-bottom: 30px;

    label {
      font-size: 1.5rem;
      display: block;
      margin-bottom: 10px;
    }

    input {
      background-color: $dark;
      width: 100%;
      color: $white;
      font-size: 1.25rem;
      padding: 15px;
      border: none;
      border-radius: 5px;

      &:focus {
        outline: 2px solid $primary;
        transition: all 0.3s ease;
      }
    }
  }

  &__footer {
    .btn {
      width: 100%;
    }

    .auth__error {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.25em;
    }
  }

  &__error {
    color: $red;
    font-size: 1.1rem;
    margin-top: 10px;
  }

  &__input-error {
    outline: 3px solid rgb(199, 71, 71);
  }

  &__register {
    text-align: center;
    margin-top: 20px;

    p {
      margin-bottom: 0px;
    }

    a {
      color: $white;
      text-decoration: none;
      font-weight: 700;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__login {
    text-align: center;
    margin-top: 20px;

    p {
      margin-bottom: 0px;
    }

    a {
      color: $white;
      text-decoration: none;
      font-weight: 700;
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.dashboard {
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
  padding: 15px;
}

.todos {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

.todo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  background: $dark-light;
  padding: 10px;
  border-radius: 5px;

  &__complete {
    input[type='text'] {
      text-decoration: line-through;
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  input[type='text'] {
    background: transparent;
    margin-left: 10px;
    border: none;
    font-size: 1.125rem;
    color: $white;
    flex-grow: 1;

    &:focus {
      outline: none;
    }
  }

  &__controls {
    display: flex;

    button {
      display: block;
      padding: 0;
      background-color: transparent;
      border: none;
      color: $white;
      font-size: 1rem;
      transition: all 0.3s ease;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }

  input[type='checkbox'] {
    -webkit-appearance: none; // Make checkbox disappear
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
  }

  input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0% 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $white;
    background-color: CanvasText;
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }
}
